@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

#helicontainer {
    font-family: 'Poppins';
    display:none;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent !important;
    color: #ffffff;
    text-transform: uppercase;
}

.vehicleinfo {
    display:none;
}

.heli-model {
    position:absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-shadow:
    -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.heli-plate {
    position:absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    text-shadow:
    -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.heli-street {
    position:absolute;
    left: 70%;
    top: 50.7%;
    transform: translate(-50%, -50%);
    text-shadow:
    -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.heli-speed {
    position:absolute;
    left: 35%;
    top: 35%;
    text-shadow:
    -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 22px;
}

.heli-rectangle {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    background: transparent;
    border: 1px solid #ab0c0c;
    transform: translate(-50%, -50%);
}

.scan {
    position:absolute;
    left: 37%;
    bottom: 39%;
    border: 2px solid #cccccc;
    background: rgba(155, 155, 155, 0.0);
    height: 20vh;
    width: 1vw;
}

.scanBar {
    background: #cccccc;
}

#camcontainer {
    font-family: 'Poppins';
    position: relative;
    height: 100vh;
    background-color: transparent !important;
}

#camlabel {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,0.9);
    padding: 0.3vw;
    text-align:center;
    text-transform: uppercase;
}

#camtimelabel {
    position: absolute;
    right: 10%;
    top: 10%;
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,0.9);
    padding: 0.3vw;
}

#camdatelabel {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,0.9);
    padding: 0.3vw;
}

#iplabel {
    position: absolute;
    right: 10%;
    bottom: 15%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,0.9);
    padding: 0.3vw;
}

#connectedlabel {
    position: absolute;
    right: 10%;
    bottom: 10%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,0.9);
    padding: 0.3vw;
}

.connected {
    color:#3cc71a!important;
}

.disconnect {
    color:#ba1e1e!important;
}

#blockscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(25,25,25,1.0);
    display: none;
    z-index: -99;
}

.fingerprint-container {
    display: none;
    position: relative;
    width: 60vh;
    margin: 0 auto;
    top: 10vh;
}

.fingerprint-frame {
    width: 60vh;
}

.take-fingerprint {
    position: absolute;
    height: 12.5vh;
    width: 10vh;
    background: rgba(250, 250, 250, 0.45);
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 15vh;
    transition: 0.1s;
}

.take-fingerprint:hover {
    background: rgba(250, 250, 250, 0.65);
}

.fingerprint-id {
    position: absolute;
    width: 22vh;
    height: 13vh;
    top: 23vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 2vh;
    font-family: 'Poppins';
    font-weight: bold;
}

.fingerprint-id > p {
    padding-top: 2vh;
    font-weight: lighter;
}
